body {
  overflow-x: hidden;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --green-c: #2eca7f;
  --darkblue-color: #1a2d62;
  --text-color: #ffffff;
  --background-color: #faf8f8;
}


body {
    font-family: 'Mulish', sans-serif;
     text-transform: capitalize;
padding-top: 100px;
}

/* butoons css  start  _____________________________________________ */
.custom-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
      transition: transform 0.3s ease, background-color 0.3s ease;
      
    

}
.custom-button.Explore {
   box-shadow: none;
    text-decoration: none;
        font-family: Mulish, sans-serif;
    color: rgb(136, 136, 136);
    text-decoration: none;
    transition: 0.2s;
      position: relative;
    margin: auto;
    padding: 18px 22px;
    transition: 0.2s;
 
    cursor: pointer;
    text-decoration: underline;
}

.custom-button.register {
    margin: 10px;
  padding: 10px 25px;
  background-color: #ffffff; 
  color: rgb(0, 0, 0);
  border-radius: 9999px; 
  font-weight: bold;
  box-shadow: 0 2px 6px rgba(145, 145, 145, 0.808);
  transition: background-color 0.3s ease, transform 0.2s ease;
  cursor: pointer;
}

.custom-button.custom-button.register:hover {
  background-color: var(--green-c);
  color: #ffffff; 
  transform: scale(1.05); 
    transform: translateY(2px)
      ;
}


.custom-button.login {
  position: relative;
  padding: 0 29px;
  height: 3.2rem;
  background-color: var(--green-c); 
  color: rgb(252, 249, 249);
  border-radius: 9999px;
  font-weight: bold;
  cursor: pointer;
  overflow: hidden; 

  z-index: 1; 
  transition: color 0.3s ease; 
}
.custom-button.login::before {
  content: ""; 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0; 
  background-color: #1a2d62; 
  transition: height 0.3s ease; 
  z-index: -1; 
  border-radius: 9999px;
}


.custom-button.login:hover::before {
  height: 100%; 
}

.custom-button.login:hover {
  color: #ffffff; 
}





#explore-button
 {
  position: relative;
  overflow: hidden;
  background: linear-gradient(to right, #2eca7f 30%, #2eca7f 100%) left;
  background-size: 0% 100%;      
  background-repeat: no-repeat;
  transition: background-size 0.9s ease, color 0.5s ease, border-radius 0.5s ease;
  padding: 0.75rem 1.5rem;
  font-size: 0.9rem;
  font-family: 'Mulish', sans-serif;
  color: #2eca7f;                
  border-radius: 999px;          
  z-index: 1;
  margin: 4rem ;
height: 4rem;


}



#explore-button:hover {
margin: 4rem ;
padding: 0.7rem .5rem;
  background-size: 100% 100%;   
  color: #fff !important;        

height: 3.8rem;
  border-radius: 9999px;
}

.explore-btn i {
  transition: transform 0.3s ease;
  z-index: 2;
}

.explore-btn:hover i {
  transform: translateX(5px);
}


.explore-btn .circle {
  position: absolute;
  left: 2.5rem;
  width: 3rem;
  height: 3rem;
  background: rgba(0, 200, 150, 0.2);
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 0;
}
.explore-btn .circle :hover{
  display: none;
}
/* butoon end  _____________________________________________ */


/* .search for nav bar css____________  */
.search input {
  
  position: absolute;
  right: 0;
  top: 90%;
  border: solid rgb(136, 136, 136);

  margin-top: 0.20rem;
  margin: 0.6rem 10rem;
  width: 16rem;
  height: 4rem;
  border-radius: 999px;
  padding: 0.5rem;
  box-shadow: #1a2d62;
}
/* .search for vav bar ____________ */













/* main home hero section css  start___________ */

#home {
  position: relative;

  background-repeat: no-repeat;
  background-size: cover;     
  background-position: center center; 
overflow: hidden;
  background-image: url("./public/image/background.png");
bottom: 80px;


}

#home::before {
  
  content: "";
  background-image: url("./public/image/home-image.png");
    background-repeat: no-repeat;
  background-position: center;
  top: 55%;
  left: 70%;
  transform: translate(-35%, -50%);
  position: absolute;
  width: 60%;
  height: 90%;
    border-style: none;
    border-radius: 0px 0px 0px 0px;
}
.home-content {
   padding: 220px 90px;
   text-align: left;

}

 .home-content   h1 {

          font-size: 77px;
    font-weight: 800;
    line-height: 100px;
        letter-spacing: 0px;
    margin:  0px 0;
    color: #1a2d62;
    font-weight: 700;
  }


    .home-content   span {
          font-size: 70px;
    font-weight: 700;
    line-height: 100px;
    margin-bottom: 20px;
        letter-spacing: 0px;
    margin: 0px;
    font-family: 'Mulish', sans-serif;
    color: #2eca7f;
    }


.home-content p {


      display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    color: #888888;
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 1rem;
    
}

/* main home hero sectio   end___________ */

/* Learn new skills to go ahead for your career. css____________________________ start*/
.box1{
  margin: 15rem  0;
background: #fff;
    width: 200px;
    height: 105px;
    padding: 20px;
    border-radius: 30px;
    position: absolute;
    top: 10%;
    right: 0;
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
  }
  .box1 h2 {
    display: block;
    font-family: 'Mulish', sans-serif;
    color: #1a2d62;
    font-weight: 800;
    
  }
  .box1 p {
    font-weight: 400;
    color: #2222228a;

  }
  .box1 img{
    border-style: none;
    border-radius: 0px 0px 0px 0px;
        width: 40px;
    float: left;
    margin-right: 10px;
}

.box2{
background: #fff;
    width: 200px;
    height: 105px;
    padding: 20px;
    border-radius: 30px;
    position: absolute;
    bottom: 10%;
    right: 0;
    margin: 22rem 31rem;
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
  }
   .box2 h2 {
    display: block;
    font-family: 'Mulish', sans-serif;
    color: #1a2d62;
    font-weight: 800;
  }
  .box2 p {
    font-weight: 400;
    color: #2222228a;

  }
  .box2 img{
    border-style: none;
    border-radius: 0px 0px 0px 0px;
        width: 40px;
    float: left;
    margin-right: 10px;
}

/* Learn new skills to go ahead for your career. css____________________________ end*/



/*3 cards css main home _________ start  */
#card-container{
display: flex;
 transform: translateY(-100px);
  box-shadow:  3px 10px  rgba(0, 0, 0, 0.041);
  background-color: white;
}
.card-title {
  font-size: 1.5rem;
  font-weight: 500;
  color: #1a2d62 !important;
  text-align: left;
  
}
.card-text {
  color: #888888;
  text-align: left;
  font-weight: 400;
}
/*3 cards css main home _________ end  */

.py-5 h1{
  font-size: 2.8rem;
  color: var(--darkblue-color);
  text-align: left;
  font-weight: 700;
  

}
.py-5 span{
  text-decoration: underline;
 
  color:var(--green-c);
  text-align: left;

}
.py-5 p{
  font-size: 1rem;
  font-weight: 400;
  color: #888888;
  text-align: left;

}
.box-our{
  margin: 4rem 0;
    background: #fff;
    border-radius: 10px;
    border: 1px solid #eee;
  background: linear-gradient(to right, #2eca7f 30%, #2eca7f 100%) left;
  background-size: 0% 100%;      
  background-repeat: no-repeat;
  transition: background-size 0.5s ease, color 0.5s ease, border-radius 0.3s ease;
  padding: 0.75rem 1.5rem;
  font-size: 0.9rem;
  z-index: 1;
  height:  170px;
 
}
.box-our:hover {
    background-size: 1% 100%;   
       transform: translateX(1px);
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
}
.icon-wrapper{


  
    background: rgba(46, 202, 127, 0.2);
    float: left;
    margin-right: 20px;
    display: block;
    width: 70px;
    height: 70px;
    color: #2eca7f;
    line-height: 70px;
    text-align: center;
    font-size: 26px;
    border-radius: 100px
}
.box-our h2{
 color: var(--darkblue-color);
 font-weight: 600;
    overflow: hidden;
    margin-bottom: 10px;
    font-size: 22px;
}







.sponsor-title {
  display: inline-block;
  background-color: #e9fdf5; 
  color: #2eca7f;           
   padding: 8px 20px;
  border-radius: 30px;
  font-weight: 600;
}

.sponsor-img {
  max-width: 120px;   
  height: auto;
  opacity: 0.8;
  transition: all 0.3s ease-in-out;
}

.sponsor-img:hover {
  opacity: 1;
  transform: scale(1.1);
}


.text-p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;


}





.card-section6 {
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease;
  cursor: pointer;
  
}

.card-section6:hover {
  transform: translateY(-5px);
}



















/* Top Courses Section home main ____________ */
.courses-section {
  padding: 60px 0;
}

.courses-header .courses-subtitle {
  color: #2eca7f;
  font-size: 1rem;
  margin-bottom: 5px;
}

.courses-header .courses-title {
  font-size: 2rem;
  font-weight: bold;
}

.courses-header .courses-highlight {
  color: #2eca7f;
}

.course-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 12px;
  overflow: hidden;
}

.course-card:hover {
  transform: translateY(-8px);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
}

.course-image {
  height: 200px;
  object-fit: cover;
}

#course .course-badge {
   

  background-color: var(--green-c)!important;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  color: #fff !important;
  font-size: 1.1rem;
  padding: 6px 12px;
  border-radius: 90px;
}

.course-title {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 10px;
  color: #1a2d62;
}

.course-meta {
  font-size: 1rem;
  line-height: 1.5;
  
}

#course .course-meta svg {
  font-size: 1.1rem;
  vertical-align: middle;
  color: #2eca7f;
}

#course .courses-section .btn {
  font-weight: 600;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}
#course .category{
  background-color: var(--green-c) !important;
  color: #fff !important;
  border-radius: 10px;
  padding: 6px ;
  font-size: 1.2rem;
  font-weight: 300;
}

.courses-header {
  
  margin-bottom: 4rem;
}



/* top courses _____________________ end */

/* Best Online Learning Platform________________________start */
.platform h1{
  font-size: 2.8rem;
  color: var(--darkblue-color);
  text-align: left;
  font-weight: 700;
  

}



/* Best Online Learning Platform________________________end */

.date-badge {
  position: absolute;
  top: 15px;
  left: 15px;
  display: flex;
  border-radius: 4px;
  overflow: hidden;
  font-weight: bold;
  color: #fff;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}

.date-badge .day {
  background-color: #1d2b64; 
  padding: 5px 10px;
  font-size: 14px;
}

.date-badge .month {
  background-color: #2ecc71; 
  padding: 5px 10px;
  font-size: 14px;
}



.Professional .read-button{
  display: flex;
  text-align: right;
  transform: translate(-70px);
}
.Professional a{
display: block;
font-weight: 700;
color: #1a2d62;
  
    margin-bottom: 40px;
    box-shadow: none;
    text-decoration: none;

}
.Professional a:hover{
color: var(--green-c);
}




/* 
Team Membe_______ Our Expert Instructors ______start*/
.team h6{

color: var(--green-c);
font-weight: 500;

}
.team h2{
font-size: 2.5rem;
color: var(--darkblue-color);
font-weight: 500;
}
.team span{

color: var(--green-c);
text-decoration: underline;
}
.card-team {
  position: relative;
  overflow: hidden;
}

.card-team img {
  display: block;
  width: 100%;
  transition: 0.3s ease;
}
.card-team::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(14, 60, 146, 0);  
  transition: background 0.3s ease;
}
.card-team:hover::after {
  background: rgba(11, 95, 143, 0.075); 
}


/* 
Team Membe_______ Our Expert Instructors ______end*/

 .Technology{
  color: #2eca7f;
 }



 /* footer start______________ */

.footer  li{
text-decoration: none;
color: #ffffffe3;
font-weight: 100;
font-size: .8rem;
margin: 10px 0px;
}
.footer img{
width: 8rem;


}
.footer h6{
font-size: large;

}
.footer p{
  color: #ffffffe3;
}
.footer a{
text-decoration: none;
  font-size: small;
}

/* footer end______________ */






/* home 2---------------------------------- start*/
#hero-section
{
position: relative;
  background-repeat: no-repeat;
  background-size: cover;     
  background-position: center center; 
overflow: hidden;
bottom: 80px;
  background-image: url("../public/image/home2.png") ;
  
}
#hero-section .hero-title{
 font-size: 76px;
    font-weight: 700;
    line-height: 100px;
    margin-bottom: 30px;
    letter-spacing: 0px;
    text-align: center;
}

#hero-section p{
  text-align: center;
}
.custom-search-bar {
  max-width: 600px;
  margin: 20px auto;
  border-radius: 50px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.26);
  background-color: #2eca7f ;
}
.custom-search-bar .form-control {
  border-right: none;
  
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-color: #dee2e6;
  padding: 10px 20px;
  
}

#hero-section a 
{
  color: #1a2d62;
  text-decoration: none;

  
}

.hero-section {
  padding: 100px 0;
  background: #222;
  color: white;
}

/* home 2---------------------------------- end*/



.parallax-section .overlay {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background: rgba(0, 0, 0, 0.4); 
}

.content-section {
  padding: 80px 0;
  background: #f8f9fa;
}
.parallax-section {
  height: 400px;
  background-image: url("/public/image/video.jpg"); 
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  position: relative;
}

.overlay {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.play-button {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: rgba(0, 200, 100, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: white;
  font-size: 40px;
  transition: 0.3s ease;
  animation: pulse 1.5s infinite;
}

.play-button:hover {
  background: rgba(0, 200, 100, 1);
}

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(0, 200, 100, 0.7);
  }
  70% {
    transform: scale(1.1);
    box-shadow: 0 0 0 20px rgba(0, 200, 100, 0);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(0, 200, 100, 0);
  }
}



.pricing-card {
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  padding-bottom: 20px;
  background: #fff;
}


.pricing-card::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 120px;
  height: 120px;
  background: var(--green-c); 
  clip-path: path("M0,120 Q120,100 120,0 L160,170 Z");
}

.icon-circle {
  width: 25px;
  height: 25px;
  background-color: #c5c5c548; 
  border-radius: 50%;        
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s, background-color 0.3s;
  cursor: pointer;
}


/*-------------------- about start---------------- */

.btn-about{
  width: 140px;
  height: 50px;
  border-radius: 10%;
border: none;
background-color: #fff;
}
#about-section{
position: relative;
height: 25rem;
  background-repeat: no-repeat;
  background-size: 100% 100%; 
  background-position: center center; 
overflow: hidden;
bottom: 80px;
  background-image: url("../public/image/about-bg.png") ;
  
}
#about-section h1{
  padding: 60px;
  font-weight: 600;
}



.instructors-section h1{

  color: var(--green-c);
  font-size: medium;
}




.section-title {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 30px;
  
  color:var(--darkblue-color);
}
.section-title span {
color: var(--green-c);
text-decoration: underline;
}

.instructor-card {
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  transition: transform 0.3s;
}


.image-container {
  position: relative;
  overflow: hidden;
}
.image-container img {
  width: 100%;
  transition: transform 0.5s ease;
}



.fixed-icons {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 2;
}
.fixed-icons{
  background: #2eca7f;
   border-bottom-left-radius: 5rem;
   border-bottom-right-radius: 5rem;
     display: flex;

}
.fixed-icons a {
  background: #2eca7f;
  color: #fff;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  transition: background 0.3s;
}


.overlay-team {
  position: absolute;
  bottom: -100%;
  left: 0;
  right: 0;
  background: rgba(240, 241, 241, 0.322);
  height: 100%;
  transition: bottom 0.5s ease;
  z-index: 1;
}
.image-container:hover .overlay-team  {
  bottom: 0;
}


.info h5 {
  font-weight: bold;
  margin-bottom: 5px;
  color: var(--green-c);
}

.info p {
  color: #666;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 100;
}

.underline {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
  gap: 6px;
}

.underline::before,
.underline::after {
  content: "";
  flex: 0.1; 
  height: 2px;
  background: #2eca7f;
  transition: flex 0.4s ease;
}

.underline::before {
  margin-left: 4px;
}
.underline::after {
  margin-right: 4px;
}

.underline span {
  width: 6px;
  height: 6px;
  background: var(--green-c);
  border-radius: 50%;
  display: inline-block;
  transition: transform 0.3s ease;
}


.instructor-card:hover .underline::before,
.instructor-card:hover .underline::after {
  flex: .3;
}

.stats a {
  color: var(--darkblue-color);
  font-size: 14px;
  text-decoration: none;
  text-decoration: underline;
}
.icon-team{
  color: var(--green-c);
}

/* about qustions ________________________________*/

.frequent-asked-question {
  color: #6c757d;
  font-size: 0.9em;
  color: var(--green-c);
}
.frequantly h1{
  font-size: medium;
}

.general-questions-title {
  font-size: 1.em;
  font-weight: bold;
  color: var(--darkblue-color);
}
.general-questions-title span {
  font-size: 1.rem;
  color: var(--green-c);
  text-decoration: underline;
}
.box-qustion {
 margin: 10px 25px;
 
}


.header-title{
  color: var(--darkblue-color);
  
}

.accordion-button {
  color: var(--darkblue-color) !important;
  font-weight: 600;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  margin-bottom: 10px;
  box-shadow: none !important;
}



.accordion-body {

  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  padding: 15px;
  font-weight: 400;
  font-size: 0.9rem;
  
}

.accordion-item {
  border: none;
  margin-bottom: 20px;
}

.accordion-button:not(.collapsed) {
  background-color: #fff !important; 
}

/* about qustions end________________________________*/



/* spider */
.trusted-heading {
  background-color: #e6f7ef; 
  color: #2eca7f; 
  padding: 1rem 2rem;
  border-radius: 25px;
  text-align: center;
  margin: 2rem auto; 
  width: fit-content; 
  font-weight: 600;
}





.contact-form label {
  color: var(--darkblue-color);
}
.contact-form h2{

  color: var(--darkblue-color);
}
.contact-form 
input[type="text"],
input[type="email"],
input[type="number"],
textarea  {
  background-color: #b3b4b423 !important;   
  border: 0 !important;            
  border-radius: 2px;         
  padding: 12px 16px;        
  font-size: 16px;         
  width: 100%;                
  outline: none !important; 
}




span, .course-card .card-title,
.course-card .card-text,
.course-card .badge  {
  text-decoration: none !important; 
  border: none !important;          
}

.space{
  display: flex;
  border:1px solid rgba(0, 0, 0, 0.555) ;
  border-radius: 8px;
  padding: 18px 19px;
  padding-bottom: 5px;
  height: 50px;
  
  
}

.pagination .page-item .page-link {
  border-radius: 8px;
  margin: 0 5px;
  color: #333;
  background-color: #23b88100;
}
.number {
  border: none !important;
  margin: 0px 33px;
}


.page-item :hover{
   color: var(--green-c)!important;
background-size: cover;
  background-color: #2eca7f;
}

.pagination .page-item.active .page-link {
  background-color: #00c37c00; 
  border: none;
  font-weight: 700;
  color: var(--green-c);
}

.custom-paginatio .page-item .page-link {
  border: none !important;
  background: none !important;
  color: #333;
  font-weight: 500;
  padding: 6px 10px;
}

.custom-pagination .page-item.active .page-link {
  color: #00c37a !important; 
  font-weight: 600;
  position: relative;
}

.custom-pagination .page-item.active .page-link::after {
  content: "";
  position: absolute;
  left: 20%;
  right: 20%;
  bottom: -5px;
  height: 3px;
  background-color: var(--green-c); 
  border-radius: 2px;
}


/* email supscripe    start______________ */

.email-subscribe {
  position: relative;
  max-width: 500px;
  margin: 50px auto;
}

.email-input  {
  width: 100%;
  padding: 12px 20px;
  border-radius: 50%;
  border: 1px solid #ddd;
  outline: none;
  font-size: 14px;
}
.email-subscribe input{
  border-radius: 50px;
  background-color: #b3b4b400 !important;   
  border:1px solid  rgba(0, 0, 0, 0.055) !important;            
  

}

.email-button {
  position: absolute;
  top: 50%;
  right: 1px;
  transform: translateY(-50%);
  width: 55px;
  height: 50px;
  border-radius: 50%;
  background-color:var(--green-c);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
/* email supscripe    end______________ */


.custom-arrow {
  position: absolute;
  top: -60px;          
  right: 0;            
  background: #fff;    
  border: 1px solid #ddd; 
  color: #0d0e0d;     
  padding: 8px 12px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 18px;
  z-index: 10;
  transition: 0.3s;
}

.custom-arrow:hover {
  background: #2eca7f; 
  color: #fff;
}

.custom-prev {
  right: 50px;
}

.custom-next {
  right: 0;
}






/* email supscripe    start______________ */



.search-button {

  font-size: 1.3rem;
  position: absolute;
  top: 50%;
  right: 6px;
  transform: translateY(-50%);
  width: 130px;
  height: 45px;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  background-color:var(--green-c);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.search-button:hover{
  background-color: var(--darkblue-color);
}

.email-subscribe input:hover{

  border: solid 2px var(--green-c) !important;


}
/* email supscripe    end______________ */







/* Top Courses for home 2 __________ strat*/
.first-line{
  color: var(--green-c);

}



.courseH-card {
  background: #fff;
  border-radius: .5rem;
  transition: transform 0.2s ease;
  
}
.courseH-card:hover {
  transform: translateY(-4px);
}

.object-fit-cover { object-fit: cover; }

.courseH-price-badge {
  position: absolute;
  top: .75rem;
  left: .75rem;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: #2eca7f;
  color: #fff;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}

.courseH-category {
  color:var(--darkblue-color);
  text-decoration:none;
  font-weight:600;
  display:inline-block;
  margin-bottom:6rem;
  margin-left:4rem ;
  transition: color 0.3s ease, text-decoration 0.3s ease;
  text-decoration: underline;
}
.courseH-category:hover {
  color:var(--green-c);
  text-decoration: underline;
}

.courseH-title  {
  
  font-size: 1.1rem;
  line-height: 1.4;
  transition: color 0.3s ease;
  margin-left: 4rem ;
transform: translateY(-90px);}
.courseH-title:hover {
  color: #2eca7f !important;
}


.courseH-meta span {
  display:inline-flex;
  align-items:center;
  padding: .8rem 1rem;
  color: var(--darkblue-color);
  font-weight: 600;
}
.courseH-meta svg {
  margin-right:9px;
  color:#2eca7f;
}
/*  Top Courses for home  __________ end */

/* scrolll___________________ */
.scroll-to-top-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: var(--green-c); 
  color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  opacity: 0; 
  visibility: hidden;
  transform: translateY(20px);
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
  z-index: 1000; 
}

.scroll-to-top-button.visible {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.arrow-icon {
  font-size: 22px;
  font-weight: bold;
}

/* scroll end __________ */


/* Loader.css _____________________________*/
.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff; 
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999; 
}

.loader {
  position: relative;
  width: 130px; 
  height: 130px;
}


.loader {
  border: 6px solid transparent; 
  border-top: 3px solid #0c0fc5; 
  border-radius: 50%;
  animation: spin-clockwise 1s linear infinite; 
}

.loader::before {
  content: '';
  position: absolute;
  top: 2px;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 6px solid transparent; 
  border-top: 3px solid #3CB371; 
  transform: rotate(120deg); 
  animation: spin-clockwise 1s linear infinite; 
  transform-origin: center; 
}

.loader::after {
  content: '';
  position: absolute;
  top: 6px;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 6px solid transparent; 
  border-top: 3px solid #FF8C00; 
  transform: rotate(240deg); 
  animation: spin-clockwise 2s linear infinite; 
  transform-origin: center; 
}


@keyframes spin-clockwise {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/* Loader.css _____________________________*/
